* {
    margin: 0;

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #333;
}

body {
    background-color: #eeeeef;
}

a {
    color: #333;
    text-decoration: none; 
}